.ram {
    user-select: none;
    cursor: pointer;
    padding: 0 10px;
}

.third {
    width: 80px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: 10px;
    top: 20px;
}

.third .alog {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30px;
    text-decoration: none;
}

.third .alog i {
    font-size: 28px;
}

.third .alog .spn {
    margin-top: 3px;
    color: #666;
    font-size: 13px;
}

.third .alog:hover .spn {
    text-decoration: underline;
}